{% extends "layout.html" %} <!-- We breiden het standaard layout uit. Hierin zit ook het `block content` in. -->

{% block content %} <!-- Zie `block content` in `layout.html-->
     
        Home page, from the template
        
        {% for post in posts %} <!-- De eerste `post` mag je zelf kiezen, de tweede `posts` is doorgegeven door Flask via de argument van de functie die gekoppeld is aan je Decorator.-->
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a> 
                <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2> <!-- De `title` is eerder gedefineerd in de functie. -->
                <p class="article-content">{{ post.content }}</p>
            </div>
            </article>
        {% endfor %}

{% endblock content %} <!-- Het is netjes om deze `endblock` te sluiten met `content`, dit is optioneel. -->




